@page "/bactivites"
@using UI.Service
@inject StateLogin login

@using UI.Components.Layout

@layout BranchLayout;

<PageTitle>Home</PageTitle>

<br />
<br />
<h1>Hey admin  @login.Email these are the Branch Activities</h1>

Welcome to your new app.