@page "/branchprofile"
@using UI.Service
@inject StateLogin login

@using UI.Components.Layout

@layout BranchLayout;

<PageTitle>Home</PageTitle>


<h1>Branch details</h1>

Welcome to your new app.

<!--
spGetMemberActivities
spMemberdInTheBranch
spGetBranchDetails
spGetMemberProfile
-->
