@page "/employee"

<h3>Employee</h3>


<Button Type="primary" OnClick="@OnAddEmployee">
    Add Employee
</Button>

<br />

<Table @ref="table"
       TItem="Models.Employee"
       DataSource="@EmployeeList"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange"
       Size="TableSize.Small"
       RowKey="x=>x.ID">

    <PropertyColumn Title="Id" Property="c=>c.ID" Sortable />
    <PropertyColumn Title="Employment Status" Property="c=>c.Employment" />
    <PropertyColumn Title="Discription" Property="c=>c.Description" Sortable />

</Table>

<br />

@using AntDesign;
@using AntDesign.TableModels;
@using System.Text.Json;
@using System.ComponentModel;
@using UI.Components.Pages.Modals
@using Models;
@using UI.Service

@inject ModalService ModalService;

@code {
    List<Models.Employee> EmployeeList;

    IEnumerable<Models.Employee> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        EmployeeList = await EmployeeService.ViewEmployee();
        _total = EmployeeList.Count;
    }


    public async Task OnChange(QueryModel<Models.Employee> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    // Open Update Modal and Populate with with Data
    private async Task OnUpdate(Models.Employee employee)
    {
        var modalConfig = new ModalOptions
            {
                Title = "Update Employment Info",
                Centered = true,
                OkText = "Update",
                Width = 500
            };

        await ModalService.CreateModalAsync<AddEmployeeModal, Models.Employee>(modalConfig, employee);
    }

    // Open Add Modal (Empty)
    private async Task OnAddEmployee()
    {
        var modalConfig = new ModalOptions
            {
                Title = "Add Employment Info",
                Centered = true,
                OkText = "Submit",
                Width = 500
            };

        await ModalService.CreateModalAsync<AddEmployeeModal, Models.Employee>(modalConfig, new Models.Employee());

    }
}
