@page "/"

@using AntDesign
@using Models
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Security.Cryptography
@using System.Text
@using UI.Components.Layout
@using UI.Service
@using UI.Components.Pages.Modals
@inject NavigationManager Navigation
@inject INotificationService _notice
@inject ModalService ModalService
@inject StateLogin login

@layout LandingLayout

<GridRow>
    <GridCol Span="6"> <br> </GridCol>
    <GridCol Span="12">
        <Card Bordered="true">
            <Form Model="@model"
                  LabelColSpan="8"
                  WrapperColSpan="16"
                  OnFinish="OnFinish"
                  OnFinishFailed="OnFinishFailed">
                <Spin Spinning="isLoading">

                    <GridRow>
                        <GridCol Span="24">
                            <FormItem Label="Username">
                                <Input @bind-Value="model.Email" />
                            </FormItem>
                        </GridCol>
                    </GridRow>

                    <GridRow>
                        <GridCol Span="24">
                            <FormItem Label="Password">
                                <InputPassword @bind-Value="model.Password" />
                            </FormItem>
                        </GridCol>
                    </GridRow>

                    <GridRow>
                        <GridCol Span="12">
                            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                                <Space Size="@($"{size}")">
                                    <SpaceItem>
                                        <Button OnClick="OnLogIn" Type="@ButtonType.Primary" HtmlType="submit">
                                            Login
                                        </Button>
                                    </SpaceItem>
                                    <SpaceItem>
                                        <Button Type="primary" OnClick="SignUp">
                                            Sign Up
                                        </Button>
                                    </SpaceItem>
                                </Space>
                            </FormItem>
                        </GridCol>
                    </GridRow>

                </Spin>
            </Form>
        </Card>
    </GridCol>
</GridRow>

@code {
    private StateLogin model = new StateLogin();
    bool isLoading = false;
    double size = 50;

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

    public async void OnLogIn()
    {
        isLoading = true;

        var result = await MemberService.LoginMember(model);


        if (result is null)
        {
            await NoticeWithIcon(NotificationType.Error, "Incorrect username or password");
        }
        else
        {
            isLoading = false;
            login.Email = model.Email; // Store email in the state service
            login.Password = model.Password; // Store password in the state service

            if (result.RoleName.Equals("User"))
            {
                Navigation.NavigateTo("/user");
            }
            else if (result.RoleName.Equals("Branch Manager"))
            {
                Navigation.NavigateTo("/branchmanager");
            }
            else if (result.RoleName.Equals("Admin"))
            {
                Navigation.NavigateTo("/admin");
            }
            else
            {
                Navigation.NavigateTo("notfound");
            }
        }
    }

    public void SignUp()
    {
        Navigation.NavigateTo("signup");
    }

    private async Task NoticeWithIcon(NotificationType type, string message)
    {
        isLoading = false;
        await _notice.Open(new NotificationConfig()
        {
            Message = "Login Error",
            Description = message,
            NotificationType = type
        });
    }
}