@page "/admin"
@using UI.Service
@inject StateLogin login

@using UI.Components.Layout

@layout AdminLayout;

<PageTitle>Home</PageTitle>


<h1>Hello, Admin  @login.Email</h1>

Welcome to your new app.
