@page "/useractivities"

@using UI.Components.Layout
@using AntDesign;
@using AntDesign.TableModels;
@using System.Text.Json;
@using System.ComponentModel;
@using UI.Components.Pages.Modals
@using Models;
@using UI.Service
@inject StateLogin login

@layout UserLayout;

@inject ModalService ModalService;

<PageTitle>User Profile</PageTitle>


<h1>My Activities</h1>

<br />
<br />
<br />