@using AntDesign
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using Models;

@inherits LayoutComponentBase



    
        <Layout>
            <br />
            <br />
                <h1 align="center">
                    Welcome to Inqolayevangeli Church
                </h1>
                <br />
           

            <Content>
                @Body
            </Content>

    <br />
    <br />

    <br />
    <br />
        <Footer>
            <h5 align="center">21622718 BS Mohlakoana</h5>
            </Footer>
        </Layout>


