@using AntDesign
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using Models;

@inherits LayoutComponentBase



    
        <Layout>
            <Header>
                <h1 align="center">
                    Welcome to Eyevangeli Church
                </h1>
            </Header>

            <Content>
                @Body
            </Content>

        <Footer>
            <h5 align="center">21622718 BS Mohlakoana</h5>
            </Footer>
        </Layout>


