@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inqola Yevqngeli</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logout
            </NavLink>
        </div>

        <div  class="nav-item px-3">
            <NavLink class="nav-link" href="/useractivities" preventDefault="true">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Activity
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/user" preventDefault="true">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>

    </nav>
</div>

