@using AntDesign
@using Models
@using System.Text.Json
@using Service;

@inherits FeedbackComponent<Activity>

<Form Model="@_model" Layout="vertical" ValidateMode=@FormValidateMode.Complex>
    <FormItem Label="Activity Type" Required>
        <Input @bind-Value="@context.Name" />
    </FormItem>
    <FormItem Label="Discription" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true } })>
        <Input @bind-Value="@context.Description" />
    </FormItem>
</Form>

@code {
    private Activity _model;
    private bool isUpdate = false;

    protected override void OnInitialized()
    {
        isUpdate = base.Options.ID <= 0;
        _model = base.Options ?? new Activity();
        base.OnInitialized();
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_model)}");
        _ = base.FeedbackRef.CloseAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }

    public override async Task OnFeedbackOkAsync(ModalClosingEventArgs args)
    {
        // CALL API to ADD
        var response = await ActivityService.RegisterActivity(_model);

        if (response)
        {

        }
        else
        {
            Console.WriteLine("Add Failed");
        }
    }

    public override async Task OnFeedbackCancelAsync(ModalClosingEventArgs args)
    {
        Console.WriteLine("You clicked Cancel button");
    }
}